.accourdion-item {
  color: var(--white);
  border-top: 1px solid var(--gray);
  padding: 16px 0;
  transition: border-color 0.2s ease-in-out;

  &:last-child {
    border-bottom: 1px solid var(--gray);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: var(--text-sm);
      font-weight: 600;
    }

    button {
      background-color: transparent;
      border: none;
      color: var(--white);
      font-weight: 600;
      font-size: var(--text-medium);
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}
