<header class="header container">
  <div class="header-nav">
    <div class="header-nav__col">
      <a routerLink="/admin" class="link">Admin</a>
      <span> Hey, {{ userName || 'user' }} </span>
    </div>

    <ul class="header-nav__col">
      <li *ngIf="!isLogged">
        <a routerLink="/login" class="btn btn-primary"> Login </a>
      </li>
      <li *ngIf="isLogged" (click)="onLogout()">
        <a class="link"> Logout </a>
      </li>
    </ul>
    <a routerLink="/home" class="header-logo">
      <fast-svg name="logo" [size]="'50'" alt="UniGroup logo - Home"></fast-svg>
    </a>
  </div>
</header>
