<div class="container post my-3">
  <div class="post__poster"></div>
  <div class="post__details">
    <h3>Author: Mansur Isakov</h3>
    <span>Created on 23.04.2003</span>
  </div>
  <h2 class="global-title-size-xl post__title">Title of some post</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quia
    neque, officia accusantium laudantium distinctio fuga voluptates repudiandae
    molestiae voluptatum aspernatur itaque! Ipsa, cum. Cupiditate quae repellat
    itaque harum porro ab voluptas asperiores dolores culpa fugit doloribus
    fugiat voluptatibus ducimus voluptatem iste minus quisquam dolorem, sint,
    laboriosam enim! Dolore aut aliquam asperiores cum eos magnam veniam
    molestias porro temporibus adipisci rerum explicabo eaque architecto
    inventore repellendus illo dolorem, a repudiandae eius, quidem corporis
    quod? Cupiditate neque perspiciatis sequi odit nulla, odio eligendi omnis
    nesciunt iste ea porro at quod voluptas! Perferendis a architecto deleniti,
    odio assumenda saepe quae aliquam adipisci, eveniet quisquam harum
    exercitationem. Odio dolorem aliquam porro cumque ducimus amet, maxime in
    itaque delectus autem eos praesentium beatae voluptatum iusto illum et totam
    iste reprehenderit perspiciatis? Iusto voluptatibus sint amet. Impedit
    optio, hic nobis consectetur excepturi quam ut asperiores fugiat illo
    officia corrupti accusamus cupiditate numquam totam debitis id aliquid
    dolores, earum praesentium provident recusandae adipisci deleniti? Neque
    sequi quis illo sapiente repellat porro libero perferendis quia, autem iusto
    ullam exercitationem soluta ex, cupiditate voluptatum! Quae consequatur,
    magnam expedita adipisci provident, corrupti architecto possimus quasi odit,
    porro quidem. Odit veniam ut quasi excepturi recusandae aspernatur! Dolorem
    vitae omnis qui.
  </p>
</div>
