.signup {
  height: 100%;
  justify-content: center;
  margin-top: -96px;

  &__title {
    color: var(--white);
    margin-bottom: 1rem;
  }

  &--no-account {
    color: var(--white);
    font-size: var(--text-xs);
    margin-top: 1rem;

    a {
      color: var(--accent);
    }
  }
}

.spacing {
  width: 20rem;
}

.signup-form {
  width: 20rem;

  &__socials {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
