<div class="university-info">
  <ul class="university-info__header">
    <li class="university-info__header--active">About Us</li>
    <li class="">Faculty</li>
    <li class="">Tuition Fee</li>
  </ul>
  <div class="university-info__main">
    <h2 class="university-info__title global-title-size-m">
      Tashkent International University of Education
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis
      reprehenderit laudantium deleniti minus id nihil est inventore
      necessitatibus saepe. Fugit temporibus assumenda aliquid voluptatum
      perspiciatis culpa velit totam dolor voluptas, ea a quasi ipsa in
      voluptatem ipsum fugiat placeat eius excepturi asperiores, sequi molestiae
      deserunt similique! Nihil optio ab nemo, animi eos veniam enim deserunt ea
      eius beatae fugiat totam eum est tempore amet reprehenderit quasi
      similique expedita eaque nostrum esse? Nesciunt ipsam, consequuntur
      doloremque quibusdam reiciendis blanditiis iste quia. Nisi accusantium
      corporis quod natus ducimus quam accusamus amet tenetur aut quibusdam
      fugiat unde atque corrupti voluptas et culpa fuga beatae enim adipisci
      dicta blanditiis itaque, exercitationem laborum quaerat? Nesciunt
      distinctio iure consequatur qui rem odio eveniet similique magnam,
      voluptate fugiat, voluptatum expedita, magni quibusdam esse deleniti
      impedit voluptatem saepe atque ut minima. Quasi alias eius recusandae
      exercitationem, repellendus dolorem placeat enim aperiam sit fugiat vel,
      libero suscipit atque et, at fuga perferendis sint possimus inventore odio
      perspiciatis cumque autem quis! Unde accusantium reiciendis quia fuga
      inventore? Vero qui voluptatibus aspernatur sint ex facilis sit placeat,
      consectetur quos sapiente enim ipsam assumenda odit illo, recusandae
      voluptas eius tenetur rerum dolore ratione temporibus. Sequi pariatur quo,
      repellat voluptatem totam aut eveniet.
    </p>
  </div>
  <h3 class="global-title-size-xs">Tanishturov videosi</h3>
  <iframe
    src="https://www.youtube.com/watch?v=8PafGXq5qHE&embeds_euri=https%3A%2F%2Foneapp.ly%2F&feature=emb_logo&ab_channel=TIUE"
    frameborder="0"></iframe>
</div>
