<div class="university-info">
  <ul class="university-info__header">
    <li [class.active]="activeTab === 'about'" (click)="setActiveTab('about')">
      About Us
    </li>
    <li
      [class.active]="activeTab === 'faculty'"
      (click)="setActiveTab('faculty')">
      Faculty
    </li>
    <li
      [class.active]="activeTab === 'tuition'"
      (click)="setActiveTab('tuition')">
      Tuition Fee
    </li>
  </ul>
  <!-- Better solution would be to seperate into components -->
  <div class="university-info__main" *ngIf="activeTab === 'about'">
    <h2 class="university-info__title global-title-size-m">
      {{ university.name }}
    </h2>
    <p>{{ university.description }}</p>
    <h3 class="global-title-size-xs">Tanishturov videosi</h3>
    <iframe
      width="100%"
      height="315"
      [src]="university.admission | safe : 'resourceUrl'"
      title="YouTube video player"
      frameborder="0"
      allowfullscreen></iframe>
  </div>
  <div class="university-info__main" *ngIf="activeTab === 'faculty'">
    <h2 class="university-info__title global-title-size-m">
      {{ university.name }}
    </h2>
    <p>In this university {{ university.courses }} are present</p>
  </div>
  <div class="university-info__main" *ngIf="activeTab === 'tuition'">
    <h2 class="university-info__title global-title-size-m">
      {{ university.name }}
    </h2>
    <p>Tuition Fee for 1 academic year is {{ university.tuitionFee }} USD</p>
  </div>
</div>
