<div class="container login flex-align-center">
  <h1 class="login__title global-title-size-xl">Log in</h1>
  <div class="login-form__socials">
    <button class="btn btn-white">
      <fast-svg name="google" size="14" alt="Google logo"></fast-svg>
      Continue with Google
    </button>
    <button class="btn btn-white">
      <fast-svg name="apple" size="14" alt="Apple logo"></fast-svg>
      Continue with Apple
    </button>
  </div>
  <div class="spacing"></div>
  <form class="form login-form">
    <div class="form-control">
      <label for="email" class="form-control__label">Email</label>
      <input
        type="email"
        id="email"
        class="form-control__input"
        placeholder="Enter email" />
    </div>
    <div class="form-control">
      <label for="password" class="form-control__label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control__input"
        placeholder="Enter password" />
    </div>
    <button type="submit" class="btn btn-primary">Enter</button>
  </form>
  <p class="login--no-account">
    Don't have an account? <a href="/signup">Create one!</a>
  </p>
</div>
