.university-card {
  width: min-content;
  height: fit-content;

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid var(--accent);
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__title {
    text-align: center;
    font-size: var(--text-base);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      display: flex;
      gap: 0.5rem;
    }

    a {
      color: var(--white);
    }
  }

  &__socials {
    display: flex;
    gap: 2rem;
  }

  &__social {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--black);
    border: 1px solid var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
