main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.cards {
  display: flex;
  gap: 8rem;
  margin-top: 4.375rem; // 70px
}

.main-showcase {
  text-align: center;
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: var(--spacing-block-xs);

  &__header {
    position: relative;

    h1 {
      font-size: var(--text-xl);
    }
  }

  &__decor {
    font-size: var(--text-medium);
    color: var(--accent);
    position: absolute;
    pointer-events: none;
    font-family: monospace;
    font-weight: 700;
    top: 0;
    right: 0;
  }

  &__hero {
    max-width: 1000px;
  }

  .btn {
    width: 20%;
  }
}
