.footer {
  border-top: 1px solid var(--gray);
  color: var(--white);
  font-size: var(--text-sm);
  font-weight: 300;
  height: 80px;

  &__rights {
    font-size: var(--text-xs);
    width: 80%;
    font-weight: 500;
  }

  &__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 50px;

    .link {
      color: inherit;
      transition: letter-spacing 0.2s ease-in;

      &:hover {
        letter-spacing: 0.5px;
      }
    }
  }
}
