.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: var(--white);
}

.form-control__label {
  font-size: var(--text-xs);
  font-weight: 300;
}
.form-control__input {
  border-radius: 3px;
  font-size: var(--text-sm);
  font-weight: 500;
  line-height: 1.1875rem;
  letter-spacing: 0.0075em;
  min-height: 30px;
  min-width: auto;
  border: none;
  padding: 0.4rem 0.6875rem;
}
