.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-3 {
  margin-top: 3rem; // 48px
  margin-bottom: 3rem; // 48px
}

.mt-3 {
  margin-top: 3rem; // 48px
}
