.filters-list {
  display: flex;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  color: var(--white);
  gap: 1rem;
  margin-bottom: 3rem;

  li {
    padding: 3px 10px;
    border: 1px solid var(--accent);
    border-radius: 3px;
    font-size: var(--text-sm);
    font-weight: 500;
    cursor: pointer;

    &.active {
      background-color: var(--accent);
    }
  }
}
